# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3

# Virtualenv
venv/
ENV/
env/
.venv/
.ENV/

# mypy
.mypy_cache/

# VSCode settings
.vscode/

# JetBrains settings
.idea/
